.mat-card-content {
    color: #3f51b5;
  } 
  .add-doc{
    color: #3f51b5;
  }
  .mat-card:hover {

    transform: scale(1.03);
  }
  .c1{
    margin-top: 15px;
    margin-left: -50px;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }